.search {
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: #F1EADD;
    border-radius: 0.3rem;
}

h2 {
    color: #2E2312;
}

.btnAdd {
    width: 47rem;
    height: 4rem;
    margin-top: 0;

    font-size: 1.6rem;
    font-weight: 400;
}