:root {
  font-size: 62.5%;

  --color-bg-primary: #b9ddd0;
  --color-bg-Two: #cde9de;
  --color-bg-secundary: hsl(159, 97%, 23%);
  --color-bg-alert100: #FCE8DB;
  --color-bg-alert000: #71192F;
  --color-primary: #13141f;
  --color-blueI: #334269;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-green100: #063616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--color-bg-primary);
}

input, input::placeholder{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.6rem;
  font-weight: 400;
}

h1{
  font-size: 1.8rem;
}

span, a {
  font-size: 1.4rem;
}

a{
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

button {
  border: none;
  background: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.4rem;

  cursor: pointer;
}

button:hover, a:hover {
  color: var(--color-bg-secundary);
}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
  span, a, input, input::placeholder, button {
    font-size: 1.8rem;
  }
}