:root {
  --color-bg-primary: #b9ddd0;
  --color-bg-Two: #cde9de;
  --color-bg-secundary: #02724b;
  --color-primary: #13141f;
  --color-blueI: #334269;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-green100: #063616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--color-bg-primary);
}

input, input::placeholder{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.6rem;
  font-weight: 400;
}

h1{
  font-size: 1.8rem;
}

span, a {
  font-size: 1.4rem;
}

a{
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-bg-secundary);
}